.container {
    max-width: 800px;
    /* Center the container horizontally */
    margin: 0 auto;
}

.dishes-table td img {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    /* Ensure padding and border are included in the width */
    box-sizing: border-box;
}

.dishes-table {
    width: 100%;
}

.dishes-table td {
    /* background-color: aliceblue; */
    padding: 0.6rem 0.2rem;
    vertical-align: top;
}

.dishes-table .dishes-table-image-column .btn-googleimage {
    width: 100%;
}

.dishes-table td div.dish-description {
    padding-top: 0.2rem;
}

.dishes-table td span.dish-description {
    font-size: small;
    color: #666;
}

.dishes-table td span.dish-foundin-menus {
    font-size: xx-small;
    color: #666;
}

.btn-wikipedia {
    font-family: serif;
}