<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MenuDB - All Dishes</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="static/dishes_template.css">
</head>

<body>
    <header>
        {% include 'templates/common_header.j2' %}

        <h1>Common Dishes</h1>
        <ul>
            {% for locale_dish_group in locale_dish_groups %}
            <li><a href="#cuisine-{{ locale_dish_group.locale_code }}">{{ locale_dish_group.cuisine_name_en }} ({{
                    locale_dish_group.dishes | length }})</a></li>
            {% endfor %}
        </ul>
    </header>
    <div class="container">
        {% for locale_dish_group in locale_dish_groups %}
        <hr>
        <a name="cuisine-{{ locale_dish_group.locale_code }}" />
        <h2>{{ locale_dish_group.cuisine_name_en }} ({{ locale_dish_group.dishes | length }})</h2>
        <table class="dishes-table">
            <thead>
                <tr>
                    <th colspan="3">
                        <input type="text" id="searchInput" placeholder="Filter by name or description">
                    </th>
                </tr>
            </thead>
            <tbody id="dataTableBody">
                {% for item in locale_dish_group.dishes %}
                <tr>
                    {% set primary_name_native = item['name_native'].split(',')[0] %}
                    <td class="dishes-table-image-column">
                        {% if item['image_url'] %}
                        <img src="{{ item['image_url'] }}" alt="Dish Image"
                            onclick="openGoogleImageSearch('{{ primary_name_native }}')">
                        {% else %}
                        <button aria-label="Image Search" type="button" class="btn-googleimage"
                            onclick="openGoogleImageSearch('{{ primary_name_native }}')">🖼️
                            🔎</button>
                        {% endif %}
                    </td>
                    <td>
                        <div>
                            <span class="dish-name-primary">{{ primary_name_native }}</span> / <span
                                class="dish-name-secondary">{{ item.name_en }}</span>
                        </div>
                        <div>
                            <span class="dish-description">{{ item.description_en }}</span>
                        </div>
                        <div>
                            <span class="dish-foundin-menus">
                                {% for menu_filename in dish_name_to_menu_filename[primary_name_native] %}
                                <a href="{{ menu_filename }}">{{
                                    menu_filename_to_menu_yaml_dicts[menu_filename].restaurant.name
                                    }}</a>{% if not
                                loop.last %}, {% endif %}
                                {% endfor %}
                            </span>
                        </div>
                    </td>
                    <td>
                        {% if locale_dish_group.locale_code == 'zh-u-sd-cngd' %}
                        <button aria-label="Speak" class="btn-speak"
                            onclick="speakText('{{ primary_name_native }}', 'zh-HK')">🗣️粵</button>
                        <button aria-label="Speak" class="btn-speak"
                            onclick="speakText('{{ primary_name_native }}', 'zh-CN')">🗣️</button>
                        {% else %}
                        <button aria-label="Speak" class="btn-speak"
                            onclick="speakText('{{ primary_name_native }}', '{{ item['locale_code'] }}')">🗣️</button>
                        {% endif %}

                        {% set wikipedia_url = item['wikipedia_url_en'] %}
                        {% if wikipedia_url %}<button aria-label="Open Wikipedia" class="btn-wikipedia"
                            onclick="openLink('{{ wikipedia_url }}', 'wikipedia')">W</button>{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>

    {% include 'templates/common_script.j2' %}
    <script>
        // Get references to the input element and the table
        const searchInput = document.getElementById("searchInput");
        const dataTableBody = document.getElementById("dataTableBody");

        // Add an input event listener to the search input
        searchInput.addEventListener("input", function () {
            const searchText = searchInput.value.toLowerCase();
            const rows = dataTableBody.getElementsByTagName("tr");

            // Loop through all table rows and hide those that don't match the search query
            for (let i = 0; i < rows.length; i++) {
                const row = rows[i];

                const cellText = row.cells[1].innerText.toLowerCase();
                if (cellText.includes(searchText)) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            }
        });
    </script>
</body>

</html>