<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MenuDB</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <style>
        .header-icon {
            font-size: 128px;
        }

        .menu-card-body {
            padding-bottom: 0;
        }

        .menu-card-body a {
            text-decoration: none;
        }

        .menu-card-image {
            height: 96px;
            object-fit: cover;
        }

        .menu-card-image-placeholder {
            height: 96px;
            background-color: #e0e0e0;
            display: flex;
        }

        .menu-card-text {
            line-height: 1;
        }

        .menu-card-location {
            margin: 0;
            margin-top: 8px;
        }

        .menu-card-tags {
            margin: 0;
            font-size: xx-small;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <header class="text-center py-5">
        <h1 class="header-icon">🥡</h1>
        <h1>MenuDB</h1>
    </header>

    <!-- Menu Grid -->
    <div class="container">
        <div class="text-center mb-4">
            <a href="dishes.html" class="btn btn-primary">Browse Known Dishes ({{ known_dishes | length
                }})</a>
        </div>

        <div class="row row-cols-2 row-cols-md-5 g-4 py-4">
            {% for yaml_dict in menu_yaml_dicts |
            sort(attribute='restaurant.country_code,restaurant.city,restaurant.name') %}
            <!-- Menu -->
            <div class="col">
                <div class="card h-100">
                    <a href="{{ yaml_dict._output_filename }}">
                        {% if yaml_dict.menu.pages[0].page_image_url %}
                        <img src="{{ yaml_dict.menu.pages[0].page_image_url }}" class="card-img-top menu-card-image"
                            alt="Menu Image" />
                        {% else %}
                        <div class="menu-card-image-placeholder"></div>
                        {% endif %}
                    </a>
                    <div class="card-body menu-card-body">
                        <a href="{{ yaml_dict._output_filename }}">
                            <h5 class="card-title menu-text">{{ yaml_dict.restaurant.name }}</h5>
                        </a>
                        <p class="card-text menu-card-text menu-card-location">{{ yaml_dict.restaurant.city }}, {{
                            yaml_dict.restaurant.country_code }}</p>
                        </p>
                    </div>
                    {# <div class="card-footer">
                        <p class="card-text menu-card-text menu-card-tags">{{
                            yaml_dict.restaurant.tags | join(', ') }}</p>
                    </div> #}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Footer -->
    <footer class="py-3 text-center">
        <div class="container">
            <p class="text-muted"><a href="stats.html">Stats for nerds</a></p>

            {% include 'common_footer.j2' %}
        </div>
    </footer>
</body>

</html>