<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MenuDB - {{ data.restaurant.name }}, {{ data.restaurant.city }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="static/menu_template.css">
</head>

<body>
    {% set primary_lang = display_language_codes[0] %}

    <header class="header">
        {% include 'templates/common_header.j2' %}

        <h1>{{ data.restaurant.name }}</h1>
        <p>
            Google Maps: <a href="{{ data.restaurant.googlemaps_url }}" target="_blank" rel="noopener">{{
                data.restaurant.street_address }}, {{ data.restaurant.city }}, {{ data.restaurant.country_code
                }}</a><br>
            {% for k,v in {
            "homepage_url": "Homepage",
            "facebook_url": "Facebook",
            "instagram_url": "Instagram",
            "online_menu_url": "Online Menu",
            "tripadvisor_url": "TripAdvisor",
            "yelp_url": "Yelp",
            }.items()
            if data.restaurant[k] %}{{ v }}: <a href="{{ data.restaurant[k] }}" target="_blank" rel="noopener">{{
                data.restaurant[k] | pretty_url }}</a><br>{% endfor %}
        </p>

        <ul>
            {% for page in data.menu.pages %}
            {% for section in page.sections if section['_id'] %}
            <li><a href="#{{ section['_id'] }}">{{ section['_name_all_langs'] }}</a></li>
            {% endfor %}
            {% endfor %}
        </ul>
    </header>
    {% if data.menu %}
    <hr>
    {% for page in data.menu.pages %}
    <section class="section">
        <div class="container">
            <div class="column left-column">
                {% if page.page_image_url %}
                <a href="{{ page.page_image_url }}" target="_blank" rel="noopener"><img src="{{ page.page_image_url }}"
                        alt="Menu Image"></a>
                {% elif page.page_url %}
                <iframe src="{{ page.page_url }}"
                    style="transform: scale(0.5); transform-origin: top left; width: 200%; height: 200%;"
                    frameborder="0"></iframe>
                {% endif %}
            </div>
            <div class="column right-column">
                <table class="menu-table">
                    {% for section in page.sections %}
                    <thead>
                        <tr>
                            <th colspan="3">
                                <a name="{{ section['_id'] }}">
                                    {% for lang in display_language_codes %}
                                    {% if lang == primary_lang %}
                                    <span class="menu-section-name-primary">{{ section['name_' + lang] }}</span>
                                    {% else %}
                                    {{ section['name_' + lang] }}
                                    {% endif %}
                                    {% endfor %}
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in section.menu_items %}
                        <tr>
                            <td class="menu-table-text-column">
                                <div class="menu-item-name">
                                    {% if item['item_number'] %}<span class="menu-item-number">{{ item['item_number']
                                        }}.</span>{% endif %}

                                    {%- for lang in display_language_codes if item['name_' + lang] and not lang ==
                                    'zh-Latn-pinyin' %}
                                    {% set dish_name = item['name_' + lang] %}
                                    {% if lang == primary_lang %}
                                    <span class="menu-item-name menu-item-name-primary">{{
                                        dish_name_to_annotated_html[dish_name] }}</span>
                                    {% if lang == 'zh-Hant' %}
                                    <button aria-label="Speak" class="btn btn-light btn-speak"
                                        onclick="speakText('{{ dish_name }}', 'zh-HK')">🗣️粵</button>
                                    {% endif %}
                                    <button aria-label="Speak" class="btn btn-light btn-speak"
                                        onclick="speakText('{{ dish_name }}', '{{ primary_lang }}')">🗣️</button>
                                    <br>
                                    {% else %}
                                    <span class="menu-item-name menu-item-name-secondary">{{ dish_name |
                                        styled_text_format }}</span>

                                    {% set wikipedia_url = item['wikipedia_url_' + lang.split('-')[0]] %}
                                    {% if wikipedia_url %}
                                    <button aria-label="Open Wikipedia" class="btn btn-light btn-wikipedia"
                                        onclick="openLink('{{ wikipedia_url }}', 'wikipedia')">W</button>
                                    {% endif %}
                                    {% endif %}

                                    {% if not loop.first and not loop.last %} <span class="menu-item-divider">/</span>
                                    {% endif %}
                                    {% endfor +%}
                                </div>

                                <div class="menu-item-description">
                                    {% for _ in range(item['spice_heat_level'] | default(0)) %}🌶️{% endfor %}

                                    {% if not item['image_url'] %}
                                    {%- for lang in display_language_codes if item['description_' + lang] %}
                                    <span class="menu-item-description">{{ item['description_' + lang] |
                                        styled_text_format }}</span>{% if not loop.last %} <span
                                        class="menu-item-divider">/</span> {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>

                                {%- if item['note'] %}
                                <div class="menu-item-note">
                                    <span class="menu-item-note">{{ item['note'] |
                                        styled_text_format }}</span>
                                </div>
                                {% endif %}
                            </td>
                            {# <td class="menu-table-price-column">
                                <span class="menu-item-price">{{ item['price'] }}</span>
                                {%- if item['price_note'] %}<br>
                                <span class="menu-item-price-note">{{ item['price_note'] | styled_text_format
                                    }}</span>
                                {% endif +%}
                            </td> #}
                            <td class="menu-table-image-column">
                                {% if item['image_url'] %}
                                <img src="{{ item['image_url'] }}" alt="Dish Image"
                                    onclick="openGoogleImageSearch('{{ item['name_' + primary_lang] }}')">
                                {% else %}
                                <button aria-label="Image Search" type="button" class="btn btn-light btn-googleimage"
                                    onclick="openGoogleImageSearch('{{ item['name_' + primary_lang] }}')">🖼️
                                    🔎</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% endfor %}
                </table>
                {% if page.page_footer %}<p>{{ page.page_footer }}</p>{% endif %}
            </div>
        </div>
    </section>
    <hr>
    {% endfor %}
    {% endif %}
    <footer class="footer">
        <p><small>Generated by MenuDB—a FoodTBD project - Menu updated {{ data._date_modified | iso8601_to_datetime |
                datetime_format("%Y-%m-%d") }}</small></p>
    </footer>

    {% include 'templates/common_script.j2' %}
</body>

</html>