<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MenuDB - {{ data.restaurant.name }}, {{ data.restaurant.city }}</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            /* Set a maximum width for the content */
            max-width: 1200px;
            /* Center the container horizontally */
            margin: 0 auto;
        }

        /* Apply styles to each column */
        .column {
            /* Each column takes up 50% of the container width with some spacing */
            flex-basis: calc(50% - 20px);
            /* Include padding and border in the column's total width */
            box-sizing: border-box;
        }

        /* Media query for mobile devices */
        @media (max-width: 767px) {
            .container {
                /* Change to a single column layout */
                flex-direction: column;
            }

            .column {
                /* Full width for columns on mobile */
                flex-basis: 100%;
            }
        }

        .left-column img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }

        .right-column img {
            width: 64px;
            height: 64px;
            object-fit: cover;
        }

        .left-column {
            padding-right: 20px;
        }

        .menu-section-name-primary {
            font-weight: bold;
        }

        .menu-table td {
            padding: 4px;
            padding-bottom: 12px;
        }

        .menu-table-first-column {
            text-align: center;
            min-width: 48px;
        }

        .menu-table-last-column {
            text-align: right;
        }

        .menu-item-name-primary {
            font-weight: bold;
        }

        .menu-item-small {
            font-size: small;
        }

        .btn-wikipedia {
            font-family: serif;
        }
    </style>
</head>

<body>
    <header class="header">
        <h1>{{ data.restaurant.name }}</h1>
        <p>
            Google Maps: <a href="{{ data.restaurant.googlemaps_url }}" target="_blank" rel="noopener">{{
                data.restaurant.street_address }}, {{ data.restaurant.city }}, {{ data.restaurant.country_code
                }}</a><br>
            {% for k,v in {"homepage_url": "Homepage", "facebook_url": "Facebook", "instagram_url": "Instagram"}.items()
            if data.restaurant[k] %}{{ v }}: <a href="{{ data.restaurant[k] }}" target="_blank" rel="noopener">{{
                data.restaurant[k] | pretty_url }}</a><br>{% endfor %}
        </p>
    </header>
    {% if data.menu %}
    {% for page in data.menu.pages %}
    <section class="section">
        <div class="container">
            <div class="column left-column">
                {% if page.page_image_url %}
                <a href="{{ page.page_image_url }}" target="_blank" rel="noopener"><img src="{{ page.page_image_url }}"
                        alt="Menu Image"></a>
                {% elif page.page_url %}
                <iframe src="{{ page.page_url }}"
                    style="transform: scale(0.5); transform-origin: top left; width: 200%; height: 200%;"
                    frameborder="0"></iframe>
                {% endif %}
            </div>
            <div class="column right-column">
                <table class="menu-table">
                    <tbody>
                        {% for section in page.sections %}
                        <tr>
                            <th colspan="3">
                                {% for lang in data.menu.language_codes if section['name_' + lang] -%}
                                {% if lang == data.menu.language_codes[0] -%}
                                <span class="menu-section-name-primary">{{ section['name_' + lang] }} </span>
                                {%- else -%}
                                {{ section['name_' + lang] }}
                                {%- endif %}
                                {%- endfor %}
                            </th>
                        </tr>
                        {% for item in section.menu_items %}
                        <tr>
                            <td class="menu-table-first-column">
                                {% if item['image_url'] -%}
                                <img src="{{ item['image_url'] }}" alt="Dish Image"
                                    onclick="openGoogleImageSearch('{{ item['name_' + data.menu.language_codes[0]] }}')">
                                {%- else -%}
                                <button type="button" class="btn-googleimage"
                                    onclick="openGoogleImageSearch('{{ item['name_' + data.menu.language_codes[0]] }}')">🔎
                                    🖼️</button>
                                {%- endif %}
                            </td>
                            <td>
                                {% if item['item_number'] %}{{ item['item_number'] }}.{% endif %}

                                {% for lang in data.menu.language_codes if item['name_' + lang] and not lang ==
                                'zh-Latn-pinyin' -%}
                                {%- set dish_name = item['name_' + lang] -%}
                                {%- set wikipedia_url = item['wikipedia_url_' + lang.split('-')[0]] -%}
                                {% if lang == data.menu.language_codes[0] -%}
                                <span class="menu-item-name-primary">{{ dish_name | styled_text_format }}</span>
                                {# Special case for Pinyin #}
                                {% if lang == 'zh-Hans' and item['name_zh-Latn-pinyin'] %}({{
                                item['name_zh-Latn-pinyin'] }}){% endif %}
                                <button type="button" class="btn-speak"
                                    onclick="speakText('{{ dish_name }}', '{{ lang }}')">🗣️</button>
                                {# {% if item['wikipedia_url'] %}<button type="button" class="btn-wikipedia"
                                    onclick="openLink('{{ item['wikipedia_url'] }}', 'wikipedia')">W</button>{%
                                endif -%} #}
                                {%- else -%}
                                {% if wikipedia_url %}<a href="{{ wikipedia_url }}">{%
                                    endif -%}
                                    {{ dish_name | styled_text_format }}
                                    {%- if wikipedia_url %}</a>{% endif %}
                                {%- endif %}<br>
                                {%- endfor %}

                                <span class="menu-item-small">{% for lang in data.menu.language_codes if
                                    item['description_' + lang] -%}
                                    {{ item['description_' + lang] | styled_text_format }}<br>
                                    {%- endfor %}</span>

                                {% if item['note'] %}<span class="menu-item-small">{{ item['note'] | styled_text_format
                                    }}{% endif %}</span>
                            </td>
                            <td class="menu-table-last-column">
                                {{ item['annotation'] }}
                                {{ item['price'] }}<br>

                                {% if item['price_note'] %}<span class="menu-item-small">{{ item['price_note'] |
                                    styled_text_format }}{% endif %}</span>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
                {% if page.page_footer %}<p>{{ page.page_footer }}</p>{% endif %}
            </div>
        </div>
    </section>
    <hr>
    {% endfor %}
    {% endif %}
    <footer class="footer">
        <p><small>Generated by MenuDB—a FoodTBD project - Menu updated {{ data._date_modified | iso8601_to_datetime |
                datetime_format("%Y-%m-%d") }}</small></p>
    </footer>

    <script>
        function openLink(url, target) {
            window.open(url, target);
        }

        function openGoogleImageSearch(queryText) {
            openLink("https://www.google.com/search?tbm=isch&q=" + queryText, "googleimage");
        }

        function speakText(text, lang) {
            window.speechSynthesis.cancel();

            setTimeout(function () {
                const utterance = new SpeechSynthesisUtterance(text);
                utterance.lang = lang;
                utterance.rate = 0.85;
                window.speechSynthesis.speak(utterance);
            }, 100); // Delay 100 ms to let cancel() complete

        }
    </script>
</body>

</html>