<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MenuDB - Stats For Nerds</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    <!-- Header -->
    <header>
        <!-- Navigation Bar -->
        {% include 'common_navbar.j2' %}
    </header>

    <div class="container mt-3">
        <!-- Page Title -->
        <h1>Stats For Nerds</h1>

        <!-- Stats -->
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th scope="col" colspan="2">Canned Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" style="width: 20%;">Known terms</th>
                    <td>{{ known_terms_lookup_dict | length }}</td>
                </tr>
                <tr>
                    <th scope="row">Known dishes</th>
                    <td>{{ known_dishes | length }}</td>
                </tr>
                <tr>
                    <th scope="row">Common dishes across menus (n≥3)</th>
                    <td>{{ menu_stats.common_dishes }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th scope="col" colspan="2">Menu Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" style="width: 20%;">Menus</th>
                    <td>{{ menu_stats.menu_count }}</td>
                </tr>
                <tr>
                    <th scope="row">Unique menu items</th>
                    <td>{{ menu_stats.unique_menu_item_count }}</td>
                </tr>
                <tr>
                    <th scope="row">Unique alpha characters</th>
                    <td>{{ menu_stats.unique_character_count }}</td>
                </tr>
                <tr>
                    <th scope="row">Top {{ menu_stats.top_characters | length }} alpha characters</th>
                    <td>
                        {% for d in menu_stats.top_characters %}
                        (<a href="https://en.wiktionary.org/wiki/{{ d[0] }}#Chinese">{{ d[0] }}</a>, {{ d[1]
                        }}, {{ d[2] }}){% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ menu_stats.top_2grams | length }} most common 2-grams (n≥3)</th>
                    <td>
                        {% for d in menu_stats.top_2grams %}
                        (<a href="https://en.wiktionary.org/wiki/{{ d[0] }}#Chinese">{{ d[0] }}</a>, {{ d[1]
                        }}, {{ d[2] }}){% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ menu_stats.top_3grams | length }} most common 3-grams (n≥3)</th>
                    <td>
                        {% for d in menu_stats.top_3grams %}
                        (<a href="https://en.wiktionary.org/wiki/{{ d[0] }}#Chinese">{{ d[0] }}</a>, {{ d[1]
                        }}, {{ d[2] }}){% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Footer -->
    <footer class="py-3">
        <div class="container">
            {% include 'common_footer.j2' %}
        </div>
    </footer>
</body>

</html>