<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .dish-term-native {
            display: inline-block;
            text-align: center;
            margin-right: 10px;
            vertical-align: top;
        }

        .dish-term-translated {
            display: block;
            font-size: 0.5em;
        }
    </style>
</head>

<body>
    {% for native_name in all_dish_names %}
    <div class="dish">
        <span class="dish-term-native">{{ dish_name_to_annotated_html[native_name] }}</span>
    </div>
    {% endfor %}
</body>

</html>